In [527]:
# Objective: Your task within this classification challenge is 
# to predict which schools are on probation as of 2011-2012 and which are not.

In [528]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.cross_validation import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.grid_search import GridSearchCV

df = pd.read_csv('school_data_training.csv')

In [529]:
df.head()

,Name of School,"Elementary, Middle, or High School",Street Address,ZIP Code,Link,Healthy Schools Certified?,Safety Icon,Safety Score,Family Involvement Icon,Family Involvement Score,...,College Enrollment Rate %,College Enrollment (number of students),General Services Route,Freshman on Track Rate %,Community Area Number,Community Area Name,Ward,Police District,probation,Id
0,John Spry Elementary Community School,ES,2400 S Marshall Blvd,60623,http://schoolreports.cps.edu/SchoolProgressRep...,No,Strong,66.0,Average,59,...,NDA,809,39,NDA,30,SOUTH LAWNDALE,12,10,0,610184
1,Thomas A Edison Regional Gifted Center Element...,ES,4929 N Sawyer Ave,60625,http://schoolreports.cps.edu/SchoolProgressRep...,No,Very Strong,91.0,NDA,NDA,...,NDA,269,31,NDA,14,ALBANY PARK,39,17,0,609794
2,Milton Brunson Math & Science Specialty Elemen...,ES,932 N Central Ave,60651,http://schoolreports.cps.edu/SchoolProgressRep...,No,Weak,30.0,NDA,NDA,...,NDA,658,36,NDA,25,AUSTIN,29,15,1,609830
3,Emil G Hirsch Metropolitan High School,HS,7740 S Ingleside Ave,60619,http://schoolreports.cps.edu/SchoolProgressRep...,No,Very Weak,13.0,Average,46,...,45.1,458,46,69.5,69,GREATER GRAND CROSSING,8,6,1,609712
4,Lawndale Elementary Community Academy,ES,3500 W Douglas Blvd,60623,http://schoolreports.cps.edu/SchoolProgressRep...,No,NDA,NaN,NDA,NDA,...,NDA,508,37,NDA,29,NORTH LAWNDALE,24,10,1,610034

In [530]:
df.shape

(414, 65)

In [531]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 65 columns):
Name of School                                       414 non-null object
Elementary, Middle, or High School                   414 non-null object
Street Address                                       414 non-null object
ZIP Code                                             414 non-null int64
Link                                                 414 non-null object
Healthy Schools Certified?                           414 non-null object
Safety Icon                                          414 non-null object
Safety Score                                         380 non-null float64
Family Involvement Icon                              414 non-null object
Family Involvement Score                             414 non-null object
Environment Icon                                     414 non-null object
Environment Score                                    380 non-null float64
Instruction Icon                                     414 non-null object
Instruction Score                                    380 non-null float64
Leaders Icon                                         414 non-null object
Leaders Score                                        414 non-null object
Teachers Icon                                        414 non-null object
Teachers Score                                       414 non-null object
Parent Engagement Icon                               414 non-null object
Parent Engagement Score                              414 non-null object
Parent Environment Icon                              414 non-null object
Parent Environment Score                             414 non-null object
Average Student Attendance                           414 non-null object
Rate of Misconducts (per 100 students)               414 non-null float64
Average Teacher Attendance                           414 non-null object
Individualized Education Program Compliance Rate     414 non-null object
Pk-2 Literacy %                                      414 non-null object
Pk-2 Math %                                          414 non-null object
Gr3-5 Grade Level Math %                             414 non-null object
Gr3-5 Grade Level Read %                             414 non-null object
Gr3-5 Keep Pace Read %                               414 non-null object
Gr3-5 Keep Pace Math %                               414 non-null object
Gr6-8 Grade Level Math %                             414 non-null object
Gr6-8 Grade Level Read %                             414 non-null object
Gr6-8 Keep Pace Math%                                414 non-null object
Gr6-8 Keep Pace Read %                               414 non-null object
Gr-8 Explore Math %                                  414 non-null object
Gr-8 Explore Read %                                  414 non-null object
ISAT Exceeding Math %                                354 non-null float64
ISAT Exceeding Reading %                             354 non-null float64
ISAT Value Add Math                                  348 non-null float64
ISAT Value Add Read                                  348 non-null float64
ISAT Value Add Color Math                            414 non-null object
ISAT Value Add Color Read                            414 non-null object
Students Taking  Algebra %                           414 non-null object
Students Passing  Algebra %                          414 non-null object
9th Grade EXPLORE (2009)                             414 non-null object
9th Grade EXPLORE (2010)                             414 non-null object
10th Grade PLAN (2009)                               414 non-null object
10th Grade PLAN (2010)                               414 non-null object
Net Change EXPLORE and PLAN                          414 non-null object
11th Grade Average ACT (2011)                        414 non-null object
Net Change PLAN and ACT                              414 non-null object
College Eligibility %                                414 non-null object
Graduation Rate %                                    414 non-null object
College Enrollment Rate %                            414 non-null object
College Enrollment (number of students)              414 non-null int64
General Services Route                               414 non-null int64
Freshman on Track Rate %                             414 non-null object
Community Area Number                                414 non-null int64
Community Area Name                                  414 non-null object
Ward                                                 414 non-null int64
Police District                                      414 non-null int64
probation                                            414 non-null int64
Id                                                   414 non-null int64
dtypes: float64(8), int64(8), object(49)
memory usage: 210.3+ KB

In [532]:
df.isnull().sum()

Name of School                                        0
Elementary, Middle, or High School                    0
Street Address                                        0
ZIP Code                                              0
Link                                                  0
Healthy Schools Certified?                            0
Safety Icon                                           0
Safety Score                                         34
Family Involvement Icon                               0
Family Involvement Score                              0
Environment Icon                                      0
Environment Score                                    34
Instruction Icon                                      0
Instruction Score                                    34
Leaders Icon                                          0
Leaders Score                                         0
Teachers Icon                                         0
Teachers Score                                        0
Parent Engagement Icon                                0
Parent Engagement Score                               0
Parent Environment Icon                               0
Parent Environment Score                              0
Average Student Attendance                            0
Rate of Misconducts (per 100 students)                0
Average Teacher Attendance                            0
Individualized Education Program Compliance Rate      0
Pk-2 Literacy %                                       0
Pk-2 Math %                                           0
Gr3-5 Grade Level Math %                              0
Gr3-5 Grade Level Read %                              0
                                                     ..
Gr6-8 Keep Pace Read %                                0
Gr-8 Explore Math %                                   0
Gr-8 Explore Read %                                   0
ISAT Exceeding Math %                                60
ISAT Exceeding Reading %                             60
ISAT Value Add Math                                  66
ISAT Value Add Read                                  66
ISAT Value Add Color Math                             0
ISAT Value Add Color Read                             0
Students Taking  Algebra %                            0
Students Passing  Algebra %                           0
9th Grade EXPLORE (2009)                              0
9th Grade EXPLORE (2010)                              0
10th Grade PLAN (2009)                                0
10th Grade PLAN (2010)                                0
Net Change EXPLORE and PLAN                           0
11th Grade Average ACT (2011)                         0
Net Change PLAN and ACT                               0
College Eligibility %                                 0
Graduation Rate %                                     0
College Enrollment Rate %                             0
College Enrollment (number of students)               0
General Services Route                                0
Freshman on Track Rate %                              0
Community Area Number                                 0
Community Area Name                                   0
Ward                                                  0
Police District                                       0
probation                                             0
Id                                                    0
dtype: int64

In [533]:
df.columns

Index([u'Name of School', u'Elementary, Middle, or High School',
       u'Street Address', u'ZIP Code', u'Link ', u'Healthy Schools Certified?',
       u'Safety Icon ', u'Safety Score', u'Family Involvement Icon',
       u'Family Involvement Score', u'Environment Icon ', u'Environment Score',
       u'Instruction Icon ', u'Instruction Score', u'Leaders Icon ',
       u'Leaders Score ', u'Teachers Icon ', u'Teachers Score',
       u'Parent Engagement Icon ', u'Parent Engagement Score',
       u'Parent Environment Icon', u'Parent Environment Score',
       u'Average Student Attendance',
       u'Rate of Misconducts (per 100 students) ',
       u'Average Teacher Attendance',
       u'Individualized Education Program Compliance Rate ',
       u'Pk-2 Literacy %', u'Pk-2 Math %', u'Gr3-5 Grade Level Math %',
       u'Gr3-5 Grade Level Read % ', u'Gr3-5 Keep Pace Read %',
       u'Gr3-5 Keep Pace Math %', u'Gr6-8 Grade Level Math %',
       u'Gr6-8 Grade Level Read %', u'Gr6-8 Keep Pace Math%',
       u'Gr6-8 Keep Pace Read %', u'Gr-8 Explore Math %',
       u'Gr-8 Explore Read %', u'ISAT Exceeding Math %',
       u'ISAT Exceeding Reading % ', u'ISAT Value Add Math',
       u'ISAT Value Add Read', u'ISAT Value Add Color Math',
       u'ISAT Value Add Color Read', u'Students Taking  Algebra %',
       u'Students Passing  Algebra %', u'9th Grade EXPLORE (2009) ',
       u'9th Grade EXPLORE (2010) ', u'10th Grade PLAN (2009) ',
       u'10th Grade PLAN (2010) ', u'Net Change EXPLORE and PLAN',
       u'11th Grade Average ACT (2011) ', u'Net Change PLAN and ACT',
       u'College Eligibility %', u'Graduation Rate %',
       u'College Enrollment Rate %',
       u'College Enrollment (number of students) ', u'General Services Route ',
       u'Freshman on Track Rate %', u'Community Area Number',
       u'Community Area Name', u'Ward', u'Police District', u'probation',
       u'Id'],
      dtype='object')

In [534]:
df.shape

(414, 65)

In [535]:
df.dropna(how='any', inplace=True)

In [536]:
df.shape

(324, 65)

In [537]:
df.head()

,Name of School,"Elementary, Middle, or High School",Street Address,ZIP Code,Link,Healthy Schools Certified?,Safety Icon,Safety Score,Family Involvement Icon,Family Involvement Score,...,College Enrollment Rate %,College Enrollment (number of students),General Services Route,Freshman on Track Rate %,Community Area Number,Community Area Name,Ward,Police District,probation,Id
0,John Spry Elementary Community School,ES,2400 S Marshall Blvd,60623,http://schoolreports.cps.edu/SchoolProgressRep...,No,Strong,66.0,Average,59,...,NDA,809,39,NDA,30,SOUTH LAWNDALE,12,10,0,610184
1,Thomas A Edison Regional Gifted Center Element...,ES,4929 N Sawyer Ave,60625,http://schoolreports.cps.edu/SchoolProgressRep...,No,Very Strong,91.0,NDA,NDA,...,NDA,269,31,NDA,14,ALBANY PARK,39,17,0,609794
2,Milton Brunson Math & Science Specialty Elemen...,ES,932 N Central Ave,60651,http://schoolreports.cps.edu/SchoolProgressRep...,No,Weak,30.0,NDA,NDA,...,NDA,658,36,NDA,25,AUSTIN,29,15,1,609830
6,William C Reavis Math & Science Specialty Elem...,ES,834 E 50th St,60615,http://schoolreports.cps.edu/SchoolProgressRep...,No,Average,48.0,Very Weak,6,...,NDA,311,42,NDA,39,KENWOOD,4,2,1,610143
7,Alfred Nobel Elementary School,ES,4127 W Hirsch St,60651,http://schoolreports.cps.edu/SchoolProgressRep...,No,Weak,37.0,Weak,34,...,NDA,801,34,NDA,23,HUMBOLDT PARK,37,25,0,610098

In [538]:
df['Family Involvement Score']

0       59
1      NDA
2      NDA
6        6
7       34
10     NDA
11     NDA
15      26
16     NDA
17     NDA
18     NDA
19      66
20     NDA
21     NDA
22      61
23      64
25     NDA
26      24
29      48
30     NDA
31      36
32     NDA
33      41
35     NDA
36     NDA
37     NDA
38     NDA
39      59
41     NDA
42      67
      ...
381    NDA
382    NDA
384    NDA
385     73
386     50
387    NDA
388    NDA
389    NDA
390     39
391    NDA
392     61
393    NDA
394     33
395    NDA
396    NDA
397    NDA
398    NDA
400    NDA
401     32
402     58
403     64
404     67
405     24
406    NDA
408     24
409     23
410    NDA
411     26
412    NDA
413    NDA
Name: Family Involvement Score, dtype: object

In [539]:
len(df[df['Family Involvement Score'].str.contains('NDA', na = False)])

150

In [540]:
len(df[df['Family Involvement Icon'].str.contains('NDA', na = False)])

150

In [541]:
del df['Family Involvement Icon']   #too many values missing

In [542]:
del df['Family Involvement Score'] #too many values missing

In [543]:
del df['Name of School'] #not really relevant

In [544]:
df.head()

,"Elementary, Middle, or High School",Street Address,ZIP Code,Link,Healthy Schools Certified?,Safety Icon,Safety Score,Environment Icon,Environment Score,Instruction Icon,...,College Enrollment Rate %,College Enrollment (number of students),General Services Route,Freshman on Track Rate %,Community Area Number,Community Area Name,Ward,Police District,probation,Id
0,ES,2400 S Marshall Blvd,60623,http://schoolreports.cps.edu/SchoolProgressRep...,No,Strong,66.0,Strong,70.0,Strong,...,NDA,809,39,NDA,30,SOUTH LAWNDALE,12,10,0,610184
1,ES,4929 N Sawyer Ave,60625,http://schoolreports.cps.edu/SchoolProgressRep...,No,Very Strong,91.0,Strong,64.0,Average,...,NDA,269,31,NDA,14,ALBANY PARK,39,17,0,609794
2,ES,932 N Central Ave,60651,http://schoolreports.cps.edu/SchoolProgressRep...,No,Weak,30.0,Weak,30.0,Average,...,NDA,658,36,NDA,25,AUSTIN,29,15,1,609830
6,ES,834 E 50th St,60615,http://schoolreports.cps.edu/SchoolProgressRep...,No,Average,48.0,Weak,37.0,Weak,...,NDA,311,42,NDA,39,KENWOOD,4,2,1,610143
7,ES,4127 W Hirsch St,60651,http://schoolreports.cps.edu/SchoolProgressRep...,No,Weak,37.0,Weak,37.0,Weak,...,NDA,801,34,NDA,23,HUMBOLDT PARK,37,25,0,610098

In [545]:
df['Elementary, Middle, or High School'].value_counts()

ES    311
MS      7
HS      6
Name: Elementary, Middle, or High School, dtype: int64

In [546]:
df['ZIP Code'].value_counts()     #too many to make this column worthwhile

60621    14
60609    14
60620    14
60628    14
60617    13
60622    13
60623    12
60619    12
60624    12
60643    12
60629    10
60618    10
60608    10
60637     9
60612     9
60644     8
60647     8
60636     8
60651     8
60625     7
60616     7
60615     7
60634     6
60638     6
60652     6
60640     6
60632     6
60631     5
60614     5
60657     5
60639     4
60613     4
60653     4
60659     4
60630     3
60626     3
60645     3
60646     3
60649     3
60607     3
60610     3
60827     2
60641     2
60655     2
60707     1
60633     1
60656     1
60660     1
60605     1
Name: ZIP Code, dtype: int64

In [547]:
del df['Street Address']

In [548]:
del df['ZIP Code'] #it would be cool to map this, but there are arguably too many zips to work with

In [549]:
del df['Link ']  #unneccessary column

In [550]:
df.head()

,"Elementary, Middle, or High School",Healthy Schools Certified?,Safety Icon,Safety Score,Environment Icon,Environment Score,Instruction Icon,Instruction Score,Leaders Icon,Leaders Score,...,College Enrollment Rate %,College Enrollment (number of students),General Services Route,Freshman on Track Rate %,Community Area Number,Community Area Name,Ward,Police District,probation,Id
0,ES,No,Strong,66.0,Strong,70.0,Strong,67.0,Average,52,...,NDA,809,39,NDA,30,SOUTH LAWNDALE,12,10,0,610184
1,ES,No,Very Strong,91.0,Strong,64.0,Average,56.0,NDA,NDA,...,NDA,269,31,NDA,14,ALBANY PARK,39,17,0,609794
2,ES,No,Weak,30.0,Weak,30.0,Average,45.0,NDA,NDA,...,NDA,658,36,NDA,25,AUSTIN,29,15,1,609830
6,ES,No,Average,48.0,Weak,37.0,Weak,26.0,Very Weak,10,...,NDA,311,42,NDA,39,KENWOOD,4,2,1,610143
7,ES,No,Weak,37.0,Weak,37.0,Weak,35.0,Average,48,...,NDA,801,34,NDA,23,HUMBOLDT PARK,37,25,0,610098

In [551]:
df['Safety Icon '].dtypes

dtype('O')

In [552]:
df['Safety Icon '].value_counts()

Average        114
Weak            99
Strong          66
Very Strong     29
Very Weak       16
Name: Safety Icon , dtype: int64

In [553]:
del df['Safety Icon '] #the safety icon reflects the safety score, which is already being included

In [554]:
df['Safety Score'].dtypes

dtype('float64')

In [555]:
df.head()

,"Elementary, Middle, or High School",Healthy Schools Certified?,Safety Score,Environment Icon,Environment Score,Instruction Icon,Instruction Score,Leaders Icon,Leaders Score,Teachers Icon,...,College Enrollment Rate %,College Enrollment (number of students),General Services Route,Freshman on Track Rate %,Community Area Number,Community Area Name,Ward,Police District,probation,Id
0,ES,No,66.0,Strong,70.0,Strong,67.0,Average,52,Average,...,NDA,809,39,NDA,30,SOUTH LAWNDALE,12,10,0,610184
1,ES,No,91.0,Strong,64.0,Average,56.0,NDA,NDA,NDA,...,NDA,269,31,NDA,14,ALBANY PARK,39,17,0,609794
2,ES,No,30.0,Weak,30.0,Average,45.0,NDA,NDA,NDA,...,NDA,658,36,NDA,25,AUSTIN,29,15,1,609830
6,ES,No,48.0,Weak,37.0,Weak,26.0,Very Weak,10,Very Weak,...,NDA,311,42,NDA,39,KENWOOD,4,2,1,610143
7,ES,No,37.0,Weak,37.0,Weak,35.0,Average,48,Weak,...,NDA,801,34,NDA,23,HUMBOLDT PARK,37,25,0,610098

In [556]:
df['Environment Score'].value_counts()

49.0    15
47.0    14
37.0    13
42.0    11
34.0    11
50.0    10
48.0    10
35.0     9
57.0     9
53.0     8
32.0     8
33.0     8
39.0     8
61.0     7
41.0     7
51.0     7
65.0     7
44.0     6
60.0     6
43.0     6
55.0     6
58.0     6
52.0     5
40.0     5
46.0     5
31.0     5
62.0     5
67.0     5
66.0     5
30.0     5
        ..
22.0     3
59.0     3
25.0     3
99.0     3
63.0     3
29.0     2
23.0     2
76.0     2
74.0     2
77.0     2
20.0     2
36.0     2
12.0     2
13.0     1
95.0     1
26.0     1
85.0     1
81.0     1
80.0     1
82.0     1
17.0     1
78.0     1
7.0      1
1.0      1
90.0     1
16.0     1
84.0     1
14.0     1
21.0     1
24.0     1
Name: Environment Score, dtype: int64

In [557]:
del df['Environment Icon ']  #the icon just reflects the score

In [558]:
df.columns

Index([u'Elementary, Middle, or High School', u'Healthy Schools Certified?',
       u'Safety Score', u'Environment Score', u'Instruction Icon ',
       u'Instruction Score', u'Leaders Icon ', u'Leaders Score ',
       u'Teachers Icon ', u'Teachers Score', u'Parent Engagement Icon ',
       u'Parent Engagement Score', u'Parent Environment Icon',
       u'Parent Environment Score', u'Average Student Attendance',
       u'Rate of Misconducts (per 100 students) ',
       u'Average Teacher Attendance',
       u'Individualized Education Program Compliance Rate ',
       u'Pk-2 Literacy %', u'Pk-2 Math %', u'Gr3-5 Grade Level Math %',
       u'Gr3-5 Grade Level Read % ', u'Gr3-5 Keep Pace Read %',
       u'Gr3-5 Keep Pace Math %', u'Gr6-8 Grade Level Math %',
       u'Gr6-8 Grade Level Read %', u'Gr6-8 Keep Pace Math%',
       u'Gr6-8 Keep Pace Read %', u'Gr-8 Explore Math %',
       u'Gr-8 Explore Read %', u'ISAT Exceeding Math %',
       u'ISAT Exceeding Reading % ', u'ISAT Value Add Math',
       u'ISAT Value Add Read', u'ISAT Value Add Color Math',
       u'ISAT Value Add Color Read', u'Students Taking  Algebra %',
       u'Students Passing  Algebra %', u'9th Grade EXPLORE (2009) ',
       u'9th Grade EXPLORE (2010) ', u'10th Grade PLAN (2009) ',
       u'10th Grade PLAN (2010) ', u'Net Change EXPLORE and PLAN',
       u'11th Grade Average ACT (2011) ', u'Net Change PLAN and ACT',
       u'College Eligibility %', u'Graduation Rate %',
       u'College Enrollment Rate %',
       u'College Enrollment (number of students) ', u'General Services Route ',
       u'Freshman on Track Rate %', u'Community Area Number',
       u'Community Area Name', u'Ward', u'Police District', u'probation',
       u'Id'],
      dtype='object')

In [559]:
df['Instruction Score'].value_counts()

40.0    11
38.0    11
52.0    10
58.0    10
46.0    10
63.0     9
66.0     9
55.0     9
45.0     8
51.0     8
54.0     8
32.0     7
50.0     7
53.0     7
37.0     7
41.0     7
59.0     7
48.0     7
56.0     7
43.0     7
22.0     6
44.0     6
28.0     6
49.0     6
39.0     6
27.0     6
42.0     6
62.0     6
64.0     5
36.0     5
        ..
29.0     3
75.0     3
68.0     3
73.0     3
72.0     3
71.0     2
12.0     2
69.0     2
1.0      2
78.0     2
14.0     2
20.0     2
31.0     2
24.0     2
13.0     1
26.0     1
81.0     1
85.0     1
91.0     1
25.0     1
74.0     1
95.0     1
77.0     1
21.0     1
16.0     1
70.0     1
11.0     1
17.0     1
79.0     1
18.0     1
Name: Instruction Score, dtype: int64

In [560]:
del df['Instruction Icon ']

In [561]:
df['Teachers Score'].value_counts()

NDA    151
36       7
59       7
32       6
48       6
56       6
54       5
46       5
47       5
42       5
50       5
39       4
63       4
44       4
30       4
70       4
62       4
34       4
37       4
31       3
71       3
43       3
45       3
53       3
41       3
66       3
55       3
25       2
84       2
27       2
      ...
15       2
58       2
99       2
29       2
19       2
72       2
57       2
33       2
16       1
69       1
52       1
79       1
88       1
94       1
13       1
35       1
8        1
67       1
82       1
87       1
90       1
85       1
78       1
28       1
73       1
20       1
74       1
17       1
23       1
14       1
Name: Teachers Score, dtype: int64

In [562]:
del df['Teachers Icon ']  #too many missing values

In [563]:
del df['Teachers Score'] #too many missing values

In [564]:
df.columns

Index([u'Elementary, Middle, or High School', u'Healthy Schools Certified?',
       u'Safety Score', u'Environment Score', u'Instruction Score',
       u'Leaders Icon ', u'Leaders Score ', u'Parent Engagement Icon ',
       u'Parent Engagement Score', u'Parent Environment Icon',
       u'Parent Environment Score', u'Average Student Attendance',
       u'Rate of Misconducts (per 100 students) ',
       u'Average Teacher Attendance',
       u'Individualized Education Program Compliance Rate ',
       u'Pk-2 Literacy %', u'Pk-2 Math %', u'Gr3-5 Grade Level Math %',
       u'Gr3-5 Grade Level Read % ', u'Gr3-5 Keep Pace Read %',
       u'Gr3-5 Keep Pace Math %', u'Gr6-8 Grade Level Math %',
       u'Gr6-8 Grade Level Read %', u'Gr6-8 Keep Pace Math%',
       u'Gr6-8 Keep Pace Read %', u'Gr-8 Explore Math %',
       u'Gr-8 Explore Read %', u'ISAT Exceeding Math %',
       u'ISAT Exceeding Reading % ', u'ISAT Value Add Math',
       u'ISAT Value Add Read', u'ISAT Value Add Color Math',
       u'ISAT Value Add Color Read', u'Students Taking  Algebra %',
       u'Students Passing  Algebra %', u'9th Grade EXPLORE (2009) ',
       u'9th Grade EXPLORE (2010) ', u'10th Grade PLAN (2009) ',
       u'10th Grade PLAN (2010) ', u'Net Change EXPLORE and PLAN',
       u'11th Grade Average ACT (2011) ', u'Net Change PLAN and ACT',
       u'College Eligibility %', u'Graduation Rate %',
       u'College Enrollment Rate %',
       u'College Enrollment (number of students) ', u'General Services Route ',
       u'Freshman on Track Rate %', u'Community Area Number',
       u'Community Area Name', u'Ward', u'Police District', u'probation',
       u'Id'],
      dtype='object')

In [565]:
del df['Leaders Score '] #too many missing values

In [566]:
del df['Leaders Icon '] #too many missing values

In [567]:
del df['Parent Engagement Icon '] #just reflects the score

In [568]:
del df['Parent Engagement Score'] #not a huge percentage (approx 17%), but setting the NDA values to zero would likely skew the results

In [569]:
del df['Parent Environment Score'] #same logic as above

In [570]:
del df['Parent Environment Icon'] ##same logic as above

In [571]:
df['Average Student Attendance'].value_counts()   #keep - will need to drop the % sign and convert to float

95.5%    19
95.1%    14
95.2%    11
95.4%    10
95.0%    10
94.7%     9
92.1%     9
96.2%     9
95.3%     9
95.9%     9
96.1%     8
96.3%     8
95.6%     7
95.7%     7
91.8%     6
92.5%     6
94.8%     6
94.9%     6
95.8%     6
93.3%     6
93.9%     6
96.8%     5
93.5%     5
94.4%     5
94.6%     5
93.8%     5
93.4%     5
91.9%     5
96.0%     4
96.4%     4
         ..
92.0%     2
94.0%     2
90.0%     2
97.4%     2
96.7%     2
93.2%     2
96.5%     2
97.0%     1
89.3%     1
90.1%     1
89.5%     1
89.1%     1
92.2%     1
90.3%     1
87.0%     1
88.0%     1
98.4%     1
88.7%     1
93.6%     1
92.3%     1
90.5%     1
88.4%     1
89.9%     1
91.1%     1
90.6%     1
97.2%     1
97.1%     1
97.8%     1
91.6%     1
84.2%     1
Name: Average Student Attendance, dtype: int64

In [572]:
df['Rate of Misconducts (per 100 students) '].value_counts()

0.3      6
2.1      5
10.3     4
0.0      4
3.9      3
1.9      3
0.7      3
6.9      3
1.4      3
23.4     3
5.9      3
1.3      3
8.1      3
3.4      3
5.7      3
3.2      3
3.0      3
6.0      3
5.0      3
2.9      3
11.1     3
1.2      3
20.1     3
1.7      3
14.8     3
5.1      2
10.5     2
29.0     2
7.6      2
2.4      2
        ..
6.2      1
9.1      1
8.4      1
52.1     1
10.4     1
153.9    1
87.3     1
185.5    1
156.6    1
32.2     1
51.8     1
26.7     1
25.8     1
17.2     1
1.8      1
6.8      1
101.2    1
75.9     1
36.1     1
15.1     1
12.4     1
13.8     1
35.4     1
44.6     1
7.3      1
27.3     1
38.4     1
28.1     1
7.4      1
13.1     1
Name: Rate of Misconducts (per 100 students) , dtype: int64

In [573]:
df['Average Teacher Attendance'].value_counts()   #keep - will have to drop % sign and convert to float

96.0%    17
95.4%    16
95.9%    15
95.6%    14
96.3%    14
96.2%    14
95.3%    13
96.7%    13
96.4%    12
95.8%    12
95.0%    11
95.2%    11
94.7%    11
96.9%     9
94.6%     9
95.1%     9
95.7%     9
96.6%     9
96.5%     8
97.0%     8
96.1%     8
94.9%     7
96.8%     6
95.5%     6
94.3%     5
97.2%     5
94.8%     5
97.7%     4
97.6%     4
97.1%     4
93.3%     3
97.4%     3
94.4%     3
97.3%     3
93.9%     2
94.1%     2
97.8%     2
92.4%     2
0.0%      2
94.0%     2
93.4%     1
98.1%     1
93.6%     1
91.7%     1
97.5%     1
93.2%     1
94.5%     1
97.9%     1
93.1%     1
94.2%     1
93.5%     1
93.8%     1
Name: Average Teacher Attendance, dtype: int64

In [574]:
df.columns

Index([u'Elementary, Middle, or High School', u'Healthy Schools Certified?',
       u'Safety Score', u'Environment Score', u'Instruction Score',
       u'Average Student Attendance',
       u'Rate of Misconducts (per 100 students) ',
       u'Average Teacher Attendance',
       u'Individualized Education Program Compliance Rate ',
       u'Pk-2 Literacy %', u'Pk-2 Math %', u'Gr3-5 Grade Level Math %',
       u'Gr3-5 Grade Level Read % ', u'Gr3-5 Keep Pace Read %',
       u'Gr3-5 Keep Pace Math %', u'Gr6-8 Grade Level Math %',
       u'Gr6-8 Grade Level Read %', u'Gr6-8 Keep Pace Math%',
       u'Gr6-8 Keep Pace Read %', u'Gr-8 Explore Math %',
       u'Gr-8 Explore Read %', u'ISAT Exceeding Math %',
       u'ISAT Exceeding Reading % ', u'ISAT Value Add Math',
       u'ISAT Value Add Read', u'ISAT Value Add Color Math',
       u'ISAT Value Add Color Read', u'Students Taking  Algebra %',
       u'Students Passing  Algebra %', u'9th Grade EXPLORE (2009) ',
       u'9th Grade EXPLORE (2010) ', u'10th Grade PLAN (2009) ',
       u'10th Grade PLAN (2010) ', u'Net Change EXPLORE and PLAN',
       u'11th Grade Average ACT (2011) ', u'Net Change PLAN and ACT',
       u'College Eligibility %', u'Graduation Rate %',
       u'College Enrollment Rate %',
       u'College Enrollment (number of students) ', u'General Services Route ',
       u'Freshman on Track Rate %', u'Community Area Number',
       u'Community Area Name', u'Ward', u'Police District', u'probation',
       u'Id'],
      dtype='object')

In [575]:
df['Individualized Education Program Compliance Rate '].value_counts()

100.0%    207
98.6%       9
98.1%       5
99.1%       5
98.5%       5
98.0%       4
97.9%       4
97.7%       4
99.5%       4
98.3%       4
98.4%       3
96.6%       3
98.7%       3
96.0%       3
98.9%       3
98.8%       3
97.8%       3
96.9%       3
94.0%       2
98.2%       2
97.3%       2
96.2%       2
96.4%       2
97.0%       2
92.9%       2
95.2%       2
99.0%       2
94.7%       2
96.7%       2
94.5%       2
94.8%       1
91.8%       1
99.4%       1
92.1%       1
95.9%       1
95.8%       1
90.5%       1
95.7%       1
92.0%       1
97.6%       1
97.4%       1
92.6%       1
88.4%       1
96.1%       1
94.4%       1
97.5%       1
97.1%       1
99.7%       1
91.4%       1
96.8%       1
94.1%       1
89.0%       1
99.3%       1
95.0%       1
93.9%       1
Name: Individualized Education Program Compliance Rate , dtype: int64

In [576]:
df['Pk-2 Literacy %'].value_counts()

NDA     52
68.5     3
67.6     3
81.6     3
64.5     3
49       3
72.7     3
52.7     2
59.4     2
63.9     2
69.7     2
47.8     2
66.7     2
71.3     2
75.2     2
62.6     2
52       2
81.3     2
84.6     2
84.7     2
55.4     2
56.8     2
55.1     2
63       2
58.6     2
63.6     2
61.3     2
77.3     2
58.8     2
74.8     2
        ..
65       1
62       1
56.7     1
56.3     1
80.1     1
71.1     1
71.8     1
68.4     1
63.4     1
53.7     1
53.6     1
53.2     1
69.6     1
47.4     1
61.6     1
61.7     1
61.4     1
63.8     1
63.5     1
41.3     1
58.1     1
58.7     1
58.4     1
63.3     1
84.4     1
84.3     1
43.8     1
79.6     1
41.2     1
69       1
Name: Pk-2 Literacy %, dtype: int64

In [577]:
del df['Pk-2 Literacy %']    #significant percentage of missing values

In [578]:
del df['Pk-2 Math %'] #signficant percentage of missing values

In [579]:
df.columns

Index([u'Elementary, Middle, or High School', u'Healthy Schools Certified?',
       u'Safety Score', u'Environment Score', u'Instruction Score',
       u'Average Student Attendance',
       u'Rate of Misconducts (per 100 students) ',
       u'Average Teacher Attendance',
       u'Individualized Education Program Compliance Rate ',
       u'Gr3-5 Grade Level Math %', u'Gr3-5 Grade Level Read % ',
       u'Gr3-5 Keep Pace Read %', u'Gr3-5 Keep Pace Math %',
       u'Gr6-8 Grade Level Math %', u'Gr6-8 Grade Level Read %',
       u'Gr6-8 Keep Pace Math%', u'Gr6-8 Keep Pace Read %',
       u'Gr-8 Explore Math %', u'Gr-8 Explore Read %',
       u'ISAT Exceeding Math %', u'ISAT Exceeding Reading % ',
       u'ISAT Value Add Math', u'ISAT Value Add Read',
       u'ISAT Value Add Color Math', u'ISAT Value Add Color Read',
       u'Students Taking  Algebra %', u'Students Passing  Algebra %',
       u'9th Grade EXPLORE (2009) ', u'9th Grade EXPLORE (2010) ',
       u'10th Grade PLAN (2009) ', u'10th Grade PLAN (2010) ',
       u'Net Change EXPLORE and PLAN', u'11th Grade Average ACT (2011) ',
       u'Net Change PLAN and ACT', u'College Eligibility %',
       u'Graduation Rate %', u'College Enrollment Rate %',
       u'College Enrollment (number of students) ', u'General Services Route ',
       u'Freshman on Track Rate %', u'Community Area Number',
       u'Community Area Name', u'Ward', u'Police District', u'probation',
       u'Id'],
      dtype='object')

In [580]:
df['Gr3-5 Grade Level Math %'].value_counts()   #4.6% missing... #keep this column but drop the rows with NDA

NDA     15
34       4
35.3     4
39.1     3
21.8     3
17.9     3
31       3
27.4     3
21.6     3
26.7     3
25.3     3
23.6     3
36.6     3
13.8     3
34.4     2
34.5     2
35.8     2
31.1     2
28.7     2
22.4     2
36.9     2
24.7     2
53.1     2
38.3     2
28.2     2
71.6     2
36.8     2
36.5     2
69.3     2
36.3     2
        ..
23.7     1
59.2     1
81.4     1
21.9     1
72.6     1
72.1     1
61.7     1
61.4     1
31.5     1
18.8     1
63.8     1
63.9     1
16       1
58.1     1
10       1
58.5     1
43.2     1
28.5     1
28.4     1
92       1
43.4     1
81.2     1
28.9     1
28.8     1
23.8     1
41.3     1
41.4     1
59.8     1
9.1      1
32.6     1
Name: Gr3-5 Grade Level Math %, dtype: int64

In [581]:
# df['Gr3-5 Grade Level Math %'].apply(str)
df['Gr3-5 Grade Level Math %'] = df['Gr3-5 Grade Level Math %'].astype(str)

In [582]:
len(df[df['Gr3-5 Grade Level Math %'].str.contains('NDA', na = False)])

15

In [583]:
df.dtypes

Elementary, Middle, or High School                    object
Healthy Schools Certified?                            object
Safety Score                                         float64
Environment Score                                    float64
Instruction Score                                    float64
Average Student Attendance                            object
Rate of Misconducts (per 100 students)               float64
Average Teacher Attendance                            object
Individualized Education Program Compliance Rate      object
Gr3-5 Grade Level Math %                              object
Gr3-5 Grade Level Read %                              object
Gr3-5 Keep Pace Read %                                object
Gr3-5 Keep Pace Math %                                object
Gr6-8 Grade Level Math %                              object
Gr6-8 Grade Level Read %                              object
Gr6-8 Keep Pace Math%                                 object
Gr6-8 Keep Pace Read %                                object
Gr-8 Explore Math %                                   object
Gr-8 Explore Read %                                   object
ISAT Exceeding Math %                                float64
ISAT Exceeding Reading %                             float64
ISAT Value Add Math                                  float64
ISAT Value Add Read                                  float64
ISAT Value Add Color Math                             object
ISAT Value Add Color Read                             object
Students Taking  Algebra %                            object
Students Passing  Algebra %                           object
9th Grade EXPLORE (2009)                              object
9th Grade EXPLORE (2010)                              object
10th Grade PLAN (2009)                                object
10th Grade PLAN (2010)                                object
Net Change EXPLORE and PLAN                           object
11th Grade Average ACT (2011)                         object
Net Change PLAN and ACT                               object
College Eligibility %                                 object
Graduation Rate %                                     object
College Enrollment Rate %                             object
College Enrollment (number of students)                int64
General Services Route                                 int64
Freshman on Track Rate %                              object
Community Area Number                                  int64
Community Area Name                                   object
Ward                                                   int64
Police District                                        int64
probation                                              int64
Id                                                     int64
dtype: object

In [584]:
df['Gr3-5 Grade Level Math %'].describe()

count     324
unique    243
top       NDA
freq       15
Name: Gr3-5 Grade Level Math %, dtype: object

In [585]:
df['Gr3-5 Grade Level Read % '].value_counts() #keep this column but drop the rows with NDA

NDA     15
28.2     4
17.1     4
24       4
16.2     4
19.8     3
32.3     3
26.8     3
27.4     3
24.3     3
22.4     3
34.9     3
18.8     3
26.3     3
37.3     3
13.3     2
30.5     2
34.1     2
33.3     2
37       2
68.9     2
11.8     2
38.7     2
39.7     2
19.2     2
48.5     2
14.6     2
16.1     2
18.4     2
14.2     2
        ..
23.2     1
23.3     1
32.9     1
78.3     1
39.2     1
21.5     1
39.4     1
58.4     1
58.5     1
28.6     1
28.5     1
43.6     1
28.1     1
43.8     1
43.9     1
84.9     1
23.7     1
41.5     1
21.7     1
32.2     1
71.2     1
72.8     1
43.4     1
9.9      1
9.8      1
21.8     1
21.9     1
75.7     1
21.1     1
35.8     1
Name: Gr3-5 Grade Level Read % , dtype: int64

In [586]:
df['Gr3-5 Keep Pace Read %'].value_counts() #keep this column but drop the rows with NDA

NDA     15
44.4     5
50.7     5
56.3     4
50       4
51.3     4
41.2     4
52.8     4
51.8     4
51.6     4
66.9     4
53.2     4
52       4
61.1     3
53.6     3
45.9     3
40.6     3
51.2     3
37.5     3
55       3
43.7     3
63.2     3
49.8     3
52.6     3
48.2     3
55.8     3
56.6     2
51.9     2
41.1     2
54       2
        ..
60.6     1
60.4     1
60.9     1
60.8     1
57.7     1
62.3     1
62.2     1
62.5     1
56.2     1
39.6     1
35.1     1
69       1
58.6     1
63.1     1
43.2     1
43.3     1
43.6     1
43.5     1
28.8     1
41.4     1
71.6     1
42.7     1
32       1
72.3     1
72.6     1
72.4     1
66.5     1
39.2     1
39.5     1
33.6     1
Name: Gr3-5 Keep Pace Read %, dtype: int64

In [587]:
df['Gr3-5 Keep Pace Math %'].value_counts()  #keep this column but drop the rows with NDA

NDA     15
58.5     5
49.5     5
59.8     4
40       4
48.3     4
55.3     4
58.2     3
62.5     3
51.5     3
67.6     3
63.3     3
47.5     3
47.4     3
57.6     3
55.1     3
52.2     3
44.3     3
70       3
66.9     2
71.1     2
71.6     2
50.3     2
41.9     2
50.4     2
43.5     2
43.1     2
78.6     2
52.3     2
58.7     2
        ..
59.7     1
46.9     1
46.8     1
38       1
59.2     1
54.5     1
77       1
62.1     1
53.1     1
40.6     1
40.1     1
62.2     1
62.3     1
68.8     1
32.4     1
33.1     1
80.2     1
77.4     1
48.9     1
57.9     1
47.6     1
46.4     1
70.2     1
60.5     1
32.1     1
46.7     1
60.8     1
57.4     1
57.7     1
80.6     1
Name: Gr3-5 Keep Pace Math %, dtype: int64

In [588]:
# def nullify(NDAs):
#     NDAs = NDAs.replace('NDA', '')
#     return NDAs

# df['Gr3-5 Grade Level Math %'] = df['Gr3-5 Grade Level Math %'].apply(nullify)
# df['Gr3-5 Grade Level Read % '] = df['Gr3-5 Grade Level Read % '].apply(nullify)
# df['Gr3-5 Keep Pace Math %'] = df['Gr3-5 Keep Pace Math %'].apply(nullify)
# df['Gr3-5 Keep Pace Read %'] = df['Gr3-5 Keep Pace Read %'].apply(nullify)

In [589]:
df['Gr3-5 Keep Pace Read %'].value_counts()

NDA     15
44.4     5
50.7     5
56.3     4
50       4
51.3     4
41.2     4
52.8     4
51.8     4
51.6     4
66.9     4
53.2     4
52       4
61.1     3
53.6     3
45.9     3
40.6     3
51.2     3
37.5     3
55       3
43.7     3
63.2     3
49.8     3
52.6     3
48.2     3
55.8     3
56.6     2
51.9     2
41.1     2
54       2
        ..
60.6     1
60.4     1
60.9     1
60.8     1
57.7     1
62.3     1
62.2     1
62.5     1
56.2     1
39.6     1
35.1     1
69       1
58.6     1
63.1     1
43.2     1
43.3     1
43.6     1
43.5     1
28.8     1
41.4     1
71.6     1
42.7     1
32       1
72.3     1
72.6     1
72.4     1
66.5     1
39.2     1
39.5     1
33.6     1
Name: Gr3-5 Keep Pace Read %, dtype: int64

In [590]:
# df[df.contains("NDA") == False]

# df = df[(df.T != "NDA").any()]

In [591]:
df['Gr6-8 Grade Level Math %'].value_counts()   #keep, remove NDA rows

NDA     7
43.6    4
33.3    4
31.9    3
22.1    3
37.6    3
47.1    3
39.2    3
72      3
26.9    3
46.7    3
37.7    3
32.5    3
45.5    3
55.2    3
48.8    3
44.2    3
53.8    2
34.4    2
81.9    2
27.4    2
39.8    2
30.1    2
69.4    2
30.4    2
50      2
35.8    2
22.6    2
36.3    2
42.7    2
       ..
25.3    1
42.6    1
42.5    1
42.3    1
56.7    1
33.9    1
56.5    1
62      1
58.7    1
51.2    1
28.7    1
43.1    1
43.7    1
43.4    1
43.5    1
41.3    1
41.4    1
41.6    1
93.5    1
41.9    1
51.4    1
71.3    1
59.7    1
23.9    1
47.9    1
39.4    1
68      1
66      1
29.5    1
23.2    1
Name: Gr6-8 Grade Level Math %, dtype: int64

In [592]:
df['ISAT Exceeding Reading % '].value_counts() #keep, remove NDA rows

5.6     6
5.7     5
11.0    5
7.5     5
4.3     5
5.8     5
5.9     4
4.6     4
21.3    4
6.0     4
3.8     4
9.6     4
7.8     4
6.7     3
11.3    3
27.5    3
13.7    3
6.2     3
12.8    3
7.1     3
15.7    3
8.2     3
9.2     3
9.8     3
9.7     3
7.7     3
8.0     3
6.8     3
5.5     3
5.0     3
       ..
20.4    1
8.3     1
44.7    1
12.7    1
26.7    1
10.4    1
17.1    1
38.2    1
12.4    1
56.8    1
27.3    1
20.7    1
16.1    1
22.2    1
15.6    1
10.1    1
19.7    1
50.6    1
4.9     1
35.7    1
24.7    1
23.2    1
53.3    1
16.2    1
29.6    1
22.3    1
30.3    1
3.4     1
25.3    1
39.2    1
Name: ISAT Exceeding Reading % , dtype: int64

In [593]:
df['ISAT Value Add Color Read'].value_counts()

Yellow    204
Green      63
Red        57
Name: ISAT Value Add Color Read, dtype: int64

In [594]:
del df['Students Taking  Algebra %'] #doesn't measure much

In [595]:
del df['Students Passing  Algebra %']   #too many missing values

In [596]:
del df['9th Grade EXPLORE (2009) ']  #too many missing values

In [597]:
del df['9th Grade EXPLORE (2010) ']  #too many missing values

In [598]:
del df['10th Grade PLAN (2009) '] #too many missing values

In [599]:
df.columns

Index([u'Elementary, Middle, or High School', u'Healthy Schools Certified?',
       u'Safety Score', u'Environment Score', u'Instruction Score',
       u'Average Student Attendance',
       u'Rate of Misconducts (per 100 students) ',
       u'Average Teacher Attendance',
       u'Individualized Education Program Compliance Rate ',
       u'Gr3-5 Grade Level Math %', u'Gr3-5 Grade Level Read % ',
       u'Gr3-5 Keep Pace Read %', u'Gr3-5 Keep Pace Math %',
       u'Gr6-8 Grade Level Math %', u'Gr6-8 Grade Level Read %',
       u'Gr6-8 Keep Pace Math%', u'Gr6-8 Keep Pace Read %',
       u'Gr-8 Explore Math %', u'Gr-8 Explore Read %',
       u'ISAT Exceeding Math %', u'ISAT Exceeding Reading % ',
       u'ISAT Value Add Math', u'ISAT Value Add Read',
       u'ISAT Value Add Color Math', u'ISAT Value Add Color Read',
       u'10th Grade PLAN (2010) ', u'Net Change EXPLORE and PLAN',
       u'11th Grade Average ACT (2011) ', u'Net Change PLAN and ACT',
       u'College Eligibility %', u'Graduation Rate %',
       u'College Enrollment Rate %',
       u'College Enrollment (number of students) ', u'General Services Route ',
       u'Freshman on Track Rate %', u'Community Area Number',
       u'Community Area Name', u'Ward', u'Police District', u'probation',
       u'Id'],
      dtype='object')

In [600]:
del df['Net Change EXPLORE and PLAN']

In [601]:
del df['11th Grade Average ACT (2011) ']

In [602]:
del df['Net Change PLAN and ACT']

In [603]:
del df['College Eligibility %']

In [604]:
del df['College Enrollment Rate %']

In [605]:
df['College Enrollment (number of students) '].describe()

count     324.000000
mean      566.972222
std       330.186863
min        44.000000
25%       347.250000
50%       478.500000
75%       687.250000
max      2922.000000
Name: College Enrollment (number of students) , dtype: float64

In [606]:
df['General Services Route '].value_counts()  #not sure what i want to do with this one yet

45    25
36    22
49    20
44    19
48    18
31    18
33    17
46    17
43    17
32    16
42    16
39    15
30    15
35    15
47    15
34    14
40    13
29    11
37    11
38    10
Name: General Services Route , dtype: int64

In [607]:
del df['Freshman on Track Rate %']

In [608]:
df['Community Area Number'].nunique()  #unsure if this would be a predictor...

73

In [609]:
del df['Community Area Name']

In [610]:
df['Ward'].value_counts()

6     12
20    12
34    11
16    11
24    11
25    10
3     10
18    10
21    10
28    10
29    10
19     9
32     9
1      9
15     8
2      8
10     8
41     7
4      7
5      7
8      7
17     7
26     7
9      7
11     6
13     6
27     6
37     6
47     5
14     5
35     5
50     5
33     5
43     5
39     5
23     5
36     4
46     4
7      4
45     4
40     4
22     4
44     4
12     3
38     3
30     3
49     3
48     2
31     1
Name: Ward, dtype: int64

In [611]:
del df['Police District']

In [612]:
del df['Id']

In [613]:
df['probation'].value_counts()

0    189
1    135
Name: probation, dtype: int64

In [614]:
df.head()

,"Elementary, Middle, or High School",Healthy Schools Certified?,Safety Score,Environment Score,Instruction Score,Average Student Attendance,Rate of Misconducts (per 100 students),Average Teacher Attendance,Individualized Education Program Compliance Rate,Gr3-5 Grade Level Math %,...,ISAT Value Add Read,ISAT Value Add Color Math,ISAT Value Add Color Read,10th Grade PLAN (2010),Graduation Rate %,College Enrollment (number of students),General Services Route,Community Area Number,Ward,probation
0,ES,No,66.0,70.0,67.0,96.2%,5.9,97.4%,99.0%,NDA,...,1.1,Green,Green,NDA,NDA,809,39,30,12,0
1,ES,No,91.0,64.0,56.0,96.6%,1.9,96.3%,100.0%,92,...,1.6,Green,Green,NDA,NDA,269,31,14,39,0
2,ES,No,30.0,30.0,45.0,91.3%,16.6,95.0%,100.0%,21.1,...,-0.6,Yellow,Yellow,NDA,NDA,658,36,25,29,1
6,ES,No,48.0,37.0,26.0,93.5%,37.2,94.8%,98.2%,31,...,0.0,Red,Yellow,NDA,NDA,311,42,39,4,1
7,ES,No,37.0,37.0,35.0,94.6%,24.8,95.2%,100.0%,26.7,...,0.7,Yellow,Yellow,NDA,NDA,801,34,23,37,0

In [615]:
del df['10th Grade PLAN (2010) ']

In [616]:
del df['Graduation Rate %']

In [617]:
del df['College Enrollment (number of students) ']

In [618]:
del df['General Services Route ']

In [619]:
del df['Ward']

In [620]:
del df['Community Area Number']

In [621]:
df.head()

,"Elementary, Middle, or High School",Healthy Schools Certified?,Safety Score,Environment Score,Instruction Score,Average Student Attendance,Rate of Misconducts (per 100 students),Average Teacher Attendance,Individualized Education Program Compliance Rate,Gr3-5 Grade Level Math %,...,Gr6-8 Keep Pace Read %,Gr-8 Explore Math %,Gr-8 Explore Read %,ISAT Exceeding Math %,ISAT Exceeding Reading %,ISAT Value Add Math,ISAT Value Add Read,ISAT Value Add Color Math,ISAT Value Add Color Read,probation
0,ES,No,66.0,70.0,67.0,96.2%,5.9,97.4%,99.0%,NDA,...,NDA,18.7,13.3,17.9,7.3,1.7,1.1,Green,Green,0
1,ES,No,91.0,64.0,56.0,96.6%,1.9,96.3%,100.0%,92,...,60.4,80,96.7,79.0,88.4,1.8,1.6,Green,Green,0
2,ES,No,30.0,30.0,45.0,91.3%,16.6,95.0%,100.0%,21.1,...,45.2,3.4,8.6,8.8,5.4,-0.3,-0.6,Yellow,Yellow,1
6,ES,No,48.0,37.0,26.0,93.5%,37.2,94.8%,98.2%,31,...,48.4,3.2,16.1,5.8,10.1,-0.7,0.0,Red,Yellow,1
7,ES,No,37.0,37.0,35.0,94.6%,24.8,95.2%,100.0%,26.7,...,51,15.2,16.7,9.7,7.1,-0.3,0.7,Yellow,Yellow,0

In [622]:
df.columns

Index([u'Elementary, Middle, or High School', u'Healthy Schools Certified?',
       u'Safety Score', u'Environment Score', u'Instruction Score',
       u'Average Student Attendance',
       u'Rate of Misconducts (per 100 students) ',
       u'Average Teacher Attendance',
       u'Individualized Education Program Compliance Rate ',
       u'Gr3-5 Grade Level Math %', u'Gr3-5 Grade Level Read % ',
       u'Gr3-5 Keep Pace Read %', u'Gr3-5 Keep Pace Math %',
       u'Gr6-8 Grade Level Math %', u'Gr6-8 Grade Level Read %',
       u'Gr6-8 Keep Pace Math%', u'Gr6-8 Keep Pace Read %',
       u'Gr-8 Explore Math %', u'Gr-8 Explore Read %',
       u'ISAT Exceeding Math %', u'ISAT Exceeding Reading % ',
       u'ISAT Value Add Math', u'ISAT Value Add Read',
       u'ISAT Value Add Color Math', u'ISAT Value Add Color Read',
       u'probation'],
      dtype='object')

In [623]:
del df['Gr3-5 Grade Level Math %']

In [624]:
del df['Gr3-5 Grade Level Read % ']

In [625]:
del df['Gr3-5 Keep Pace Read %']

In [626]:
del df['Gr3-5 Keep Pace Math %']

In [627]:
del df['Gr6-8 Grade Level Math %']

In [628]:
del df['Gr6-8 Grade Level Read %']

In [629]:
df.columns

Index([u'Elementary, Middle, or High School', u'Healthy Schools Certified?',
       u'Safety Score', u'Environment Score', u'Instruction Score',
       u'Average Student Attendance',
       u'Rate of Misconducts (per 100 students) ',
       u'Average Teacher Attendance',
       u'Individualized Education Program Compliance Rate ',
       u'Gr6-8 Keep Pace Math%', u'Gr6-8 Keep Pace Read %',
       u'Gr-8 Explore Math %', u'Gr-8 Explore Read %',
       u'ISAT Exceeding Math %', u'ISAT Exceeding Reading % ',
       u'ISAT Value Add Math', u'ISAT Value Add Read',
       u'ISAT Value Add Color Math', u'ISAT Value Add Color Read',
       u'probation'],
      dtype='object')

In [630]:
del df['Gr6-8 Keep Pace Math%']

In [631]:
del df['Gr6-8 Keep Pace Read %']

In [632]:
del df['Gr-8 Explore Math %']

In [633]:
del df['Gr-8 Explore Read %']

In [634]:
del df['ISAT Exceeding Math %']

In [635]:
del df['ISAT Exceeding Reading % ']

In [636]:
del df['ISAT Value Add Math']

In [637]:
del df['ISAT Value Add Read']

In [638]:
df.columns

Index([u'Elementary, Middle, or High School', u'Healthy Schools Certified?',
       u'Safety Score', u'Environment Score', u'Instruction Score',
       u'Average Student Attendance',
       u'Rate of Misconducts (per 100 students) ',
       u'Average Teacher Attendance',
       u'Individualized Education Program Compliance Rate ',
       u'ISAT Value Add Color Math', u'ISAT Value Add Color Read',
       u'probation'],
      dtype='object')

In [639]:
#make category into 0s and 1's

def health(cert):
    if cert == 'No':
        return 0
    else:
        return 1
    

df['Healthy Schools Certified?'] = df['Healthy Schools Certified?'].apply(health)

In [640]:
df['Safety Score'].head()

0    66.0
1    91.0
2    30.0
6    48.0
7    37.0
Name: Safety Score, dtype: float64

In [641]:
df['Environment Score'].value_counts()

49.0    15
47.0    14
37.0    13
42.0    11
34.0    11
50.0    10
48.0    10
35.0     9
57.0     9
53.0     8
32.0     8
33.0     8
39.0     8
61.0     7
41.0     7
51.0     7
65.0     7
44.0     6
60.0     6
43.0     6
55.0     6
58.0     6
52.0     5
40.0     5
46.0     5
31.0     5
62.0     5
67.0     5
66.0     5
30.0     5
        ..
22.0     3
59.0     3
25.0     3
99.0     3
63.0     3
29.0     2
23.0     2
76.0     2
74.0     2
77.0     2
20.0     2
36.0     2
12.0     2
13.0     1
95.0     1
26.0     1
85.0     1
81.0     1
80.0     1
82.0     1
17.0     1
78.0     1
7.0      1
1.0      1
90.0     1
16.0     1
84.0     1
14.0     1
21.0     1
24.0     1
Name: Environment Score, dtype: int64

In [642]:
df['Environment Score'] = df['Environment Score'].astype(int)

In [643]:
df['Instruction Score'] = df['Instruction Score'].astype(int)

In [644]:
df['Average Student Attendance'].head()

0    96.2%
1    96.6%
2    91.3%
6    93.5%
7    94.6%
Name: Average Student Attendance, dtype: object

In [645]:
df.head()

,"Elementary, Middle, or High School",Healthy Schools Certified?,Safety Score,Environment Score,Instruction Score,Average Student Attendance,Rate of Misconducts (per 100 students),Average Teacher Attendance,Individualized Education Program Compliance Rate,ISAT Value Add Color Math,ISAT Value Add Color Read,probation
0,ES,0,66.0,70,67,96.2%,5.9,97.4%,99.0%,Green,Green,0
1,ES,0,91.0,64,56,96.6%,1.9,96.3%,100.0%,Green,Green,0
2,ES,0,30.0,30,45,91.3%,16.6,95.0%,100.0%,Yellow,Yellow,1
6,ES,0,48.0,37,26,93.5%,37.2,94.8%,98.2%,Red,Yellow,1
7,ES,0,37.0,37,35,94.6%,24.8,95.2%,100.0%,Yellow,Yellow,0

In [646]:
def nope(sign):
    sign = sign.replace('%','')
    return float(sign)

df['Average Student Attendance'] = df['Average Student Attendance'].apply(lambda x: nope(x))
df['Average Teacher Attendance'] = df['Average Teacher Attendance'].apply(lambda x: nope(x))
df['Individualized Education Program Compliance Rate '] = df['Individualized Education Program Compliance Rate '].apply(lambda x:nope(x))

In [647]:
df.head()

,"Elementary, Middle, or High School",Healthy Schools Certified?,Safety Score,Environment Score,Instruction Score,Average Student Attendance,Rate of Misconducts (per 100 students),Average Teacher Attendance,Individualized Education Program Compliance Rate,ISAT Value Add Color Math,ISAT Value Add Color Read,probation
0,ES,0,66.0,70,67,96.2,5.9,97.4,99.0,Green,Green,0
1,ES,0,91.0,64,56,96.6,1.9,96.3,100.0,Green,Green,0
2,ES,0,30.0,30,45,91.3,16.6,95.0,100.0,Yellow,Yellow,1
6,ES,0,48.0,37,26,93.5,37.2,94.8,98.2,Red,Yellow,1
7,ES,0,37.0,37,35,94.6,24.8,95.2,100.0,Yellow,Yellow,0

In [648]:
df.columns

Index([u'Elementary, Middle, or High School', u'Healthy Schools Certified?',
       u'Safety Score', u'Environment Score', u'Instruction Score',
       u'Average Student Attendance',
       u'Rate of Misconducts (per 100 students) ',
       u'Average Teacher Attendance',
       u'Individualized Education Program Compliance Rate ',
       u'ISAT Value Add Color Math', u'ISAT Value Add Color Read',
       u'probation'],
      dtype='object')

In [649]:
df['ISAT Value Add Color Read'].value_counts()

Yellow    204
Green      63
Red        57
Name: ISAT Value Add Color Read, dtype: int64

In [650]:
def recolor(color):   
    try: 
        if 'Red' in color:
            color = 'Orange'
        elif 'Green' in color:
            color = 'Blue'
        else:
            color = 'Purple'
        return color
    except:
        pass

df['ISAT Value Add Color Read'] = df['ISAT Value Add Color Read'].apply(recolor)

In [651]:
df['ISAT Value Add Color Read'].value_counts()

Purple    204
Blue       63
Orange     57
Name: ISAT Value Add Color Read, dtype: int64

In [652]:
df.head()

,"Elementary, Middle, or High School",Healthy Schools Certified?,Safety Score,Environment Score,Instruction Score,Average Student Attendance,Rate of Misconducts (per 100 students),Average Teacher Attendance,Individualized Education Program Compliance Rate,ISAT Value Add Color Math,ISAT Value Add Color Read,probation
0,ES,0,66.0,70,67,96.2,5.9,97.4,99.0,Green,Blue,0
1,ES,0,91.0,64,56,96.6,1.9,96.3,100.0,Green,Blue,0
2,ES,0,30.0,30,45,91.3,16.6,95.0,100.0,Yellow,Purple,1
6,ES,0,48.0,37,26,93.5,37.2,94.8,98.2,Red,Purple,1
7,ES,0,37.0,37,35,94.6,24.8,95.2,100.0,Yellow,Purple,0

In [653]:
df_dummies1 = pd.get_dummies(df['Elementary, Middle, or High School'])

In [654]:
df_dummies2 = pd.get_dummies(df['ISAT Value Add Color Math'])

In [655]:
df_dummies3 = pd.get_dummies(df['ISAT Value Add Color Read'])

In [656]:
dfwd = pd.concat([df, df_dummies1, df_dummies2, df_dummies3], axis=1)

In [657]:
dfwd.head()

,"Elementary, Middle, or High School",Healthy Schools Certified?,Safety Score,Environment Score,Instruction Score,Average Student Attendance,Rate of Misconducts (per 100 students),Average Teacher Attendance,Individualized Education Program Compliance Rate,ISAT Value Add Color Math,...,probation,ES,HS,MS,Green,Red,Yellow,Blue,Orange,Purple
0,ES,0,66.0,70,67,96.2,5.9,97.4,99.0,Green,...,0,1,0,0,1,0,0,1,0,0
1,ES,0,91.0,64,56,96.6,1.9,96.3,100.0,Green,...,0,1,0,0,1,0,0,1,0,0
2,ES,0,30.0,30,45,91.3,16.6,95.0,100.0,Yellow,...,1,1,0,0,0,0,1,0,0,1
6,ES,0,48.0,37,26,93.5,37.2,94.8,98.2,Red,...,1,1,0,0,0,1,0,0,0,1
7,ES,0,37.0,37,35,94.6,24.8,95.2,100.0,Yellow,...,0,1,0,0,0,0,1,0,0,1

In [658]:
dfwd.columns

Index([u'Elementary, Middle, or High School', u'Healthy Schools Certified?',
       u'Safety Score', u'Environment Score', u'Instruction Score',
       u'Average Student Attendance',
       u'Rate of Misconducts (per 100 students) ',
       u'Average Teacher Attendance',
       u'Individualized Education Program Compliance Rate ',
       u'ISAT Value Add Color Math', u'ISAT Value Add Color Read',
       u'probation', u'ES', u'HS', u'MS', u'Green', u'Red', u'Yellow', u'Blue',
       u'Orange', u'Purple'],
      dtype='object')

In [659]:
x = dfwd[['Healthy Schools Certified?', 'Safety Score', 'Environment Score', 'Instruction Score', 'Average Student Attendance', 'Rate of Misconducts (per 100 students) ', 'Average Teacher Attendance', 'Individualized Education Program Compliance Rate ', 'ES', 'HS', 'MS', 'Green', 'Red', 'Yellow', 'Blue', 'Orange', 'Purple']]  
y = dfwd['probation']

rfc = RandomForestClassifier()

In [660]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.4)

In [661]:
rfc.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [662]:
rfc.score(x_train, y_train)

0.98453608247422686

In [663]:
rfc.score(x_test, y_test)

0.83846153846153848

In [665]:
parameters = [{'n_estimators': [10, 25, 50, 100, 500], 'max_depth': [2, 3, 5, 7, 9],
                     'max_features': [0.25, 0.5, 0.75, 1.0]}]

gridsearch = GridSearchCV(rfc, param_grid=parameters, cv=7, n_jobs=-1)

gridsearch.fit(x_train,y_train)

gridsearch.best_estimator_

gridsearch.best_estimator_.fit(x_train, y_train) 

gridsearch.best_estimator_.score(x_train, y_train)

gridsearch.best_estimator_.score(x_test, y_test)

0.77692307692307694